html {}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    color: #252525;
    font-family: Helvetica;

}

header {
    margin: 0;
    border: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #111;
    overflow: hidden;
}

.main-wrap {
    display: flex;
    margin: 0 auto;
    padding: 0 8%;
    height: 60px;
    max-width: 1280px;
    align-items: center;
}

.header-wrap-inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-part {
    display: block;
    margin: -6%;
    float: left;
    width: auto;
}

.logo {
    display: block;
    float: auto;
    height: 40px;
    width: auto;
}

.left-part {
    display: block;
    margin: -6%;
    float: left;
    width: auto;
}

.right-part {
    display: block;
}

nav ul {
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
}

#main-menu li {
    list-style: none;
}

#main-menu a {
    display: block;
    font-size: 16px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

main {
    margin-top: 100px;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 8%;
}

.container-img-profile {
    position: relative;
    min-width: 400px;
    max-width: 400px;
    margin-right: 50px;
}

img {
    display: block;
    width: 100%;
    min-width: 100%;
}

.container-content {
    display: flex;
    align-items: center;
}

.line-after {
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background-color: #111;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-content h1:first-child {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.container-content h1:nth-child(2),
.container-content h1:nth-child(3) {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 58px;
}

.profile-box {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(230, 230, 230);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    justify-content: space-around;
}

.box-item {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    padding: 10px;
    display: inline-block;
}

.more-about {
    position: none;
    text-align: center;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-wrapper {
    text-align: center;
}

.skill-item {
    margin: 10px 0;
    display: inline-block;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 5.875rem;
    height: 5.25rem;
    margin: 10px;
}

/* 
.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px ;
    padding: 20px;
    margin: 10px;
} */

.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form-container label {
    line-height: 2.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

.contact-form-container input {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #000000;
    border: 2px solid;
    border-radius: 7px;
    font-size: 1rem;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: #5d5d5d;
    border-color: #5d5d5d;
}

.submit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    background: #000000;
}

footer p {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container-img-profile {
        position: relative;
        margin-right: 0;
        text-align: left;
    }

    .profile-box {
        top: auto;
        bottom: 0;
        transform: translateY(0%);
    }

    .container-content h1 {
        font-size: 28px;
    }

    .container-content h3 {
        font-size: 18px;
    }

    .line-after {

        margin: 20px auto;
    }

    .profile-box {
        position: absolute;
        flex-wrap: wrap;
        margin: 0 auto;
        transform: translateY(-50%);
        justify-content: space-around;
    }

    .box-item {}
}